/*variables*/
$bg-color: #87b5b5; 
$text-color: #212529;
$toolbar-color: #4AA3A3;
$hover-color: #57E2B1;
$border-color: #1d2f2f;
$editor-color: #C0D8D8; 
$code-color: #fff;
//#f6f8fa
$preview-color: #bfd7d7; 
$preview-text-color: #224b4b;;
